@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@400;500;700&family=Source+Code+Pro:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --padding: 16px;
    --color-dark: #222427;
    --color-font: #fff;
    --color_orange: #ff973b;
    --color-black: #1e1e1e;
    --color-text-grey: #8b8b8b;
    --color-wheat: #fbebbb;
    --color-cotton_hover: #bdb8a0;
    --navbar-height:56px;
    --radius: 11px;
    --margin: 20px;
  }
  
  body {
    background-color: var(--color-dark);
    color: var(--color-font);
    font-family: "Source Code Pro", serif;
    font-size: 12px;
    font-size: 1.1rem;
  }

  .bottomNavBar {
    height: 56px;
    border-radius: 56px !important;
    position: fixed;
    bottom: 34px;
    left: 16px;
    right: 16px;
    background-color: #151414;
    overflow: hidden;
  }

  .bottomNav {
    
  }

  #root {
    height: 100vh;
  }

  .wrap {
    padding: var(--padding) var(--padding) 90px var(--padding);
  }

  .iconBoxBtn {    
    width: calc( ( 100vw - (var(--padding) * 2) - (var(--margin) * 2) ) / 3 );

  }

  .iconBoxBtn:nth-child(3n),
  .productBox:nth-child(2n) {
    margin-right: 0;
  }

  .iconBoxBtn p {
    margin-top: 10px;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 20px auto !important;
  }

  .addCart {
    background-color: var(--color_orange) !important;
  }

  .iconBoxBtn,
  .productBox {
    background-color: var(--color-black);
    padding: var(--padding);
    border-radius: var(--radius);
    margin-bottom: var(--margin);
    margin-right: var(--margin);
  }

  .productBox {
    overflow: hidden;
    width: calc( ( 100vw - (var(--padding) * 2) - var(--margin) ) / 2 );
  }

  .productBox_cover {
    overflow: hidden;
  }

  .productBox_cover img {
    width: 100%;
    height: auto;
  }

  .productBox_info {
    font-size: .63rem;
    margin-bottom: 6px;
    color: var(--color-text-grey);
  }

  .productBox_name {
    color: var(--color-wheat);
    line-height: 1.2 !important;
    margin-bottom: 5px !important;
  }

  .productBox_about {
    color: var(--color-cotton_hover);
    font-size: .6rem;
  }

  .productBox_bottom {
    margin-top: 10px;
  }

  .price {
    font-size: 1rem !important;
  }

  .cartIcon {
    display: contents;
    position: relative;
  }

  .cartIcon_count {
    position: absolute;
    top: 5px;
    right: 20%;
    background-color: #ff0000;
    padding: 2px 3px;
    border-radius: 50%;
    font-size: .95rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    min-width: 22px;
    color: #fff;
  }

  .infoProductModal .MuiPaper-root {
    background-color: var(--color-black);
    color: #fff;
    background-image: none !important;
  }

  .infoProducModalContent {

  }

  .MuiDialog-root {
    width: 100% !important;
  }

.infoProducModalContent_title{
  color: var(--color-wheat);
  font-size: 1.2rem;
}

.infoProducModalContent_info {
  margin-bottom: 6px;
  color: var(--color-text-grey);
  font-size: .8rem;
  margin-top: 6px;
}

.infoProducModalContent_about {
  font-size: 1rem;
}

.infoProducModalContent_price {
  margin: 10px auto;
}

.priceModal {
  font-size: 1.2rem;
}

.inCart {
  font-size: .75rem;
}

.addFavorite {
  /*background-color: var(--color-wheat) !important;*/
  margin-right: 16px !important;
}

.emptyCart {
  width: 100%;
  height: 70vh;
}

.rowCart_cover {
  width: 20%;
  overflow: hidden;
}

.rowCart_cover img {
  width: 100%;
  height: auto;
}

.rowCart,
.orders_row {
  background-color: var(--color-black);
  padding: 10px;
  border-radius: var(--radius);
  margin-bottom: var(--margin);
}

.rowCart_about {
  font-size: .75rem;
  width: 30%;
}

.rowCart_price {
  font-size: .8rem;
}

.totalPrice_price,
.rowCart_about,
.rowCart_price {
  color: var(--color-wheat);
}

.btnActive {
  background-color: var(--color_orange) !important;
}

.cartBoxBtn {
  margin: 30px auto;
}

.header  {
  background-color: var(--color-black) !important;
  background-image: none !important;
}

.wrapForBar {
  padding-top: 80px;
}

.white {
  fill: var(--color-cotton_hover) !important;
}

.cartCountText {
  margin: 0 10px;
}

.formLine {
  margin-bottom: 20px;
}
 
.listAccount_title {
  font-size: 1.15rem !important;
  margin-left: 15px !important;
}

.listAccount {
  padding: 20px 0;
  border-bottom: 1px solid #5d6269;
}

.emptyBox {
  width: 1px;
  height: 1px;
}

.success_message {
  text-align: center;
}

.orders_row {

}

.orders_row_about {
  width: 70%;
}

.orders_row_about {
  font-size: .75rem;
}

.sliderBox {
  background-color: var(--color-dark);
    width: calc(100vw - 2 * var(--padding));
    height: calc( ((calc(100vw - 2 * var(--padding))) * 9)/16  );
    overflow: hidden;
}

.sliderBox img {
  width: 100%;
  height: inherit;
}

.sliderWrap {
  margin-bottom: calc( var(--margin) * 2 );
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: var(--color_orange);
}

.slick-dots li button:before {
  color: var(--color-cotton_hover);
}